body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

.headerlinks {
    display: flex;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    list-style-type: none;
}

li {
    margin: 10px;
}