body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

div {
    padding: 16px;
    /* the below was so I could see where the divs were*/
    /* border: solid rebeccapurple 1px;*/
}

li {
    margin: 8px;
    color: #f9faf8;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

img {
    border: solid rebeccapurple 1px;
    width: 95%;
    height: 95%;
    background-color: gray;
}

.header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #f9faf8;
}

.headerlinks {
    display: flex;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}



.first {
    display: flex;
    justify-content: center;
    gap: 8px;
    background-color: #1F2937;
}

.first .left {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.first .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first .left h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    flex: 1 1 auto;
}

.first .left p {
    color: #e5e7eb;
    flex: 1 1 auto;
}

.first .left button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 600;
    text-align: center;
    border-radius: 8px;
    width: 25%;
    height: 29px;
    flex: 1 0 auto;
    border: none;
}

.second {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.second .imagesets {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    gap: 8px;
   
}

.iset {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    flex: 1;
}

.iset img {
    width: 150px;
    height: 150px;
    border: solid #3882f6;
    border-radius: 8px;
    padding: 8px;
}

.caption {
    width: 150px;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 32px;
}

.quote .main {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
    padding: 16px;
}

.quote .attributed {
    font-weight: bold;
    margin-right: 0px;
}

.callspace {
    display: flex;
    margin: 32px;
    border-radius: 12px;
    background-color: #3882f6;
    color: #f9faf8;
}

.cleft {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cright {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cright button {
    width: 50%;
    height: 50%;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 16px;
    border: solid #f9faf8 2px;
    border-radius: 8px;
}

.footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    background-color: #1f2937;
}